.container
  .stuff-lists
    .stuff-lists--item
      %span.stuff-lists--item-contents tweet!
      %span.stuff-lists--item-time 6d
    .stuff-lists--item
      %span.stuff-lists--item-contents webhooks are awesome!
      %span.stuff-lists--item-time 3d
    .stuff-lists--item
      %span.stuff-lists--item-contents another milestone accomplish!
      %span.stuff-lists--item-time 2d
    .stuff-lists--item
      %span.stuff-lists--item-contents we are awesome!
      %span.stuff-lists--item-time 6d
