.header {
  padding-top: 50px;
  @include make-row();

  .header-text {
    @include make-lg-column(6);
    @include make-lg-column-offset(3);
    color: $blue;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed $blue-dark;
    font-weight: 700;
  }
}