.top10 {
  margin-top: 10px;
}

.top20 {
  margin-top: 20px;
}

.top30 {
  margin-top: 30px;
}

.top50 {
  margin-top: 50px;
}

.padding15 {
  padding: 15px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
